# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore local development settings
instance/
*.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore dependencies installed via pip
venv/
*.egg-info/

config.py